@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
   @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-800
}

h1 {
  @apply text-5xl font-black;
}

nav {
  @apply px-10 lg:px-32 pb-10;
}

nav > ul {
  @apply flex flex-row justify-between lg:justify-center lg:gap-16;
}
