@import "tailwindcss";

@plugin "tailwindcss-debug-screens";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-wan-blue-300: #b5c1c7;

  --font-archivo: var(--font-archivo);
  --font-inter: var(--font-inter);
  --font-jetbrainsmono: var(--font-jetbrainsmono);
  --font-instrument-serif: var(--font-instrument-serif);
  --font-outfit: var(--font-outfit);
  --font-geist-mono: var(--font-geist-mono);
}

@utility sig-light {
  filter: contrast(0.9);
}

@utility sig-dark {
  filter: invert(100%) opacity(0.9);
  /* filter: invert(23%) sepia(5%) saturate(1913%) hue-rotate(251deg) brightness(86%) contrast(86%); */
}

@layer utilities {
  .dark body {
    background-image: url("/topography-dark.svg");
  }

  @media (pointer: coarse) {
    .dark body {
      background-image: none;
    }
  }

  :root:not(.dark) body {
    background-image: url("/texture.svg");
    background-attachment: fixed;
    background-size: 5px 5px;
    background-position: top left;
  }

  .sig {
    @apply sig-light;
  }

  .dark .sig {
    @apply sig-dark;
  }
}
