@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 640px) {
  body {
    background-image: url("/topography-light.svg");
  }

  .dark body {
    background-image: url("/topography-dark.svg");
  }
}

.sig {
  @apply sig-light;
}

/* .dark .sig { */
/*   @apply sig-dark; */
/* } */
/**/
@layer components {
  .sig-dark {
    filter: invert(95%) sepia(13%) saturate(552%) hue-rotate(304deg) brightness(104%) contrast(90%);
  }
  .sig-light {
    filter: invert(100%) opacity(0.9);
    /* filter: invert(23%) sepia(5%) saturate(1913%) hue-rotate(251deg) brightness(86%) contrast(86%); */
  }
}
